@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  height: 100vh;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

textarea:focus,
input:focus {
  outline: none;
}

.slide {
  animation: scroll 60s linear infinite;
}

.slide-track {
  width: 100%;
  display: flex;
  gap: 3em;
  overflow: hidden;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translatex(-1000%);
  }
}

.slide2 {
  animation: scroll2 60s linear infinite;
}

@keyframes scroll2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translatex(1000%);
  }
}

.testimonial-slider {
  display: block;
  width: 100%;
  /* height: auto; */
  /* margin-top: 100px; */
}

.testimonial-slider ul.slider {
  display: block;
  list-style: none;
  padding: 0;
  position: relative;
  display: inline-block;
  /* width: 100%; */
  height: 105px;
  overflow: hidden;
  margin: 0 auto;
}

.testimonial-slider ul.slider li {
  position: absolute;
  display: block;
  width: 100%;
  opacity: 0;
  margin: 0 auto;
}
.testimonial-slider ul.slider li:nth-child(1) {
  opacity: 1;

  -webkit-animation: fade-animation-1 25s infinite;
  animation: fade-animation-1 25s infinite;
}
.testimonial-slider ul.slider li:nth-child(2) {
  -webkit-animation: fade-animation-2 25s infinite;
  animation: fade-animation-2 25s infinite;
}
.testimonial-slider ul.slider li:nth-child(3) {
  -webkit-animation: fade-animation-3 25s infinite;
  animation: fade-animation-3 25s infinite;
}
.testimonial-slider ul.slider li:nth-child(4) {
  -webkit-animation: fade-animation-4 25s infinite;
  animation: fade-animation-4 25s infinite;
}

.testimonial-slider q {
  display: inline-block;
  font: normal 700 50px / 1.25 'Raleway', Helvetica, Arial, Verdana, sans-serif;
  letter-spacing: 0.5pt;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  max-width: 35ch;
}

/* KEYFRAME DECLARATIONS */
@keyframes fade-animation-1 {
  0%,
  25%,
  100% {
    opacity: 0;
  }
  3%,
  22% {
    opacity: 1;
  }
}
@keyframes fade-animation-2 {
  0%,
  25%,
  50%,
  100% {
    opacity: 0;
  }
  28%,
  47% {
    opacity: 1;
  }
}
@keyframes fade-animation-3 {
  0%,
  50%,
  75%,
  100% {
    opacity: 0;
  }
  53%,
  72% {
    opacity: 1;
  }
}
@keyframes fade-animation-4 {
  0%,
  75%,
  100% {
    opacity: 0;
  }
  78%,
  97% {
    opacity: 1;
  }
}

@-webkit-keyframes fade-animation-1 {
  0%,
  25%,
  100% {
    opacity: 0;
  }
  3%,
  22% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-animation-2 {
  0%,
  25%,
  50%,
  100% {
    opacity: 0;
  }
  28%,
  47% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-animation-3 {
  0%,
  50%,
  75%,
  100% {
    opacity: 0;
  }
  53%,
  72% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-animation-4 {
  0%,
  75%,
  100% {
    opacity: 0;
  }
  78%,
  97% {
    opacity: 1;
  }
}

.one {
  background-color: #313c40;
}

.two {
  background-color: #1cd1a1;
}

.three {
  background-color: #5680e9;
}

.four {
  background-color: #00ced1;
}

.five {
  background-color: #fc5c42;
}
